{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Library Admin</title>
    <link rel="stylesheet" href="{% static 'css/user-styles.css' %}">
</head>
<body>

<div class="header">
    <ul>
        <li><a href="{% url 'admin_home' %}">Home</a></li>
        <li><a href="{% url 'add_book' %}">Add Book</a></li>
        <li><a href="{% url 'view_books' %}">Search Book</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
    </ul>
</div>

<h1>Books</h1>
<table class="books-table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Available</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>

    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.available }}</td>
        <td>{{ book.quantity }}</td>
        <td>
            <details>
        <summary>⋮</summary>
        <a href="{% url 'edit_book' book.id %}">Edit</a><br>
        <a href="{% url 'delete_book' book.id %}" onclick="return confirm('Are you sure?')">Delete</a>
            </details>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>