<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campus Event Manager - Admin</title>
    <link rel="stylesheet" href="{% static 'css/user-styles.css' %}">
</head>
<body>
    <div class="header">
        <h1><img src="{% static 'images/UWM-logo-2024.png' %}" alt="UW-Milwaukee Logo"> Campus Event Manager - Home</h1>

        <ul>
            <li><a href="{% url 'admin-home' %}">Home</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
    </div>
</body>
</html>