.header {
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    box-sizing: border-box;
    justify-content: flex-start;
    border-bottom: 6px solid #D4AF37;
}

.header img {
    width: 160px;
    height: auto;
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin-right: 375px;
}

.header h1 {
    color: white;
    font-size: 32px;
    margin: 0;

    flex-grow: 1;
    text-align: left;
    font-weight: 600;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

.header ul li a {
    display: block;
    padding: 12px 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 6px;
    transition: 0.2s ease;
}

.header ul li a:hover {
    background-color: #D4AF37;
    color: black;
}


.event-item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px;
    background-color: #ffe976;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 250px; /* grow/shrink, min width 250px */
    box-sizing: border-box;
}

.event-item:hover {
    background-color: #D4AF37;
}

.event-item h3 {
    margin-top: 0;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}



.btn-primary {
    background-color: #005eaa;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
}

.btn-danger {
    background-color: #b30000;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-primary:hover,
.btn-danger:hover {
    opacity: 0.85;
}

.error {
  color: red !important;
  font-weight: bold;
  margin: 8px 0 16px;
  min-height: 20px;
}

.books-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 16px;
}

.books-table th,
.books-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ccc;
}

.books-table th {
    background-color: #f2f2f2;
}

details summary {
    cursor: pointer;
}